.film-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  font-weight: bold;
}

.film-vote {
  margin-left: 8px;
  display: flex;
  justify-content: center;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 550px;
  margin: auto;
  transition: all .2s ease-in-out;
}

.poster img {
  object-fit: cover;
}

.poster:hover {
  transform: scale(1.2);
}

.film-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}