.details-container {
  width: 1360px;
  height: 100%;

  .bg-image {
    margin-left: 250px;
    width: 1420px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    object-fit: cover;
  }

  .details-content {
    position: relative;
    width: 1000px;
    height: 750px;
    background: #222831;
    margin: auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;

    .extra-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;

        width: 150px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: 1px solid #00adb5;
        border-radius: 8px;

        cursor: pointer;

        color: #00adb5;

        transition: all 0.2s ease-in-out;

        &:hover {
          background: #00adb5;
          color: #fff;
          transform: scale(1.2);
        }
      }

      img {
        margin: 4rem 2rem;
        height: 500px;
        border-radius: 12px;
        object-fit: cover;
      }

      p {
        margin-top: 1rem;
        color: #fff;
        font-size: 24px;

        span {
          color: #00adb5;
        }
      }
    }

    .details-texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .overview-movie {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 350px;
        height: 350px;
        background: #393e46;
        padding: 1rem;
        border-radius: 8px;
        margin-top: 2rem;

        .favorite-movie {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            margin: 0 8px;
          }
        }

        h3 {
          margin: 1rem;
          color: #00adb5;
        }
      }

      .genres {
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 1rem;

        .genre {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem;

          width: 150px;
          height: 30px;

          border: 1px solid #00adb5;
          border-radius: 8px;
          color: #00adb5;
        }
      }
    }
  }
}
