.sider {
  overflow: "auto";
  height: "100vh";
  position: "fixed";
  left: 0;
}

.sider-title {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
}