.container {
  max-width: 70vw;

  .buttons {
    width: 100%;
    text-align: right;

    button {
      color: #00adb5;
      background: none;
      border: 2px solid #00adb5;
      border-radius: 100%;
      padding: 6px;
      margin: 0.5rem;
      cursor: pointer;

      &:hover {
        color: #fff;
        border: 2px solid #fff;
      }
    }
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
