.catalog-container {
  display: flex;
  flex-direction: column;
  .filtro {
    color: #929191;

    ul {
      display: flex;

      li {
        list-style: none;
        margin: 1rem;
      }
    }

    .active {
      color: #fff;
    }
  }
}
